.imgWidth{
    width: 380px;
}
.pdf{
    display: flex;
}

@media only screen and (max-Width:990px) {
    .window{
        margin-top: 25px;
    }
    .imgWidth{
        width: 350px;
    }
}