


p{
    color: black;  
}

.imgWidht{
    max-width: 1000px;
    height: 500px;
    
}

.cardStyle{
    height: 200px;
    width: 200px;
    padding-top: 80px;
    text-align: center;
    background: #52C0F5;
    color: #FFF;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 10px;
}

@media only screen and (max-Width:900px) {
    .imgWidht{
    max-width: 800px;
    height: 250px;
    
}
.layout{  
    margin-top: 30px;
}
}