
p{
    color: black;  
}

.imgWidht{
    max-width: 1000px;
    height: 500px;
    
}

.cardStyle{
    height: 200px;
    width: 320px;
    padding: 0;
    text-align: center;
    color: #FFF;
    border-radius: 20px;
    
}
.marqDesign{
    display:flex;
    
    overflow: hidden;
}

.marqImg{
    width: 280px;
    height: 200px;
    border-radius: 20px;
    margin: auto;
    padding: 15px;
}

.marqWidth{
    height: 400px;
    padding-top: 0px;
    overflow: hidden;
}


  
 

  
@media only screen and (max-Width:900px) {
    .imgWidht{
    max-width: 800px;
    height: 250px;
    
}
.layout{  
    margin-top: 30px;
}
.cardStyle{
    width: 200px;
}
}