
p{
    color: black;  
}

.imgWidht{
    max-width: 1000px;
    height: 500px;
    
}

.cardStyle{
    height: 200px;
    width: 320px;
    padding: 0;
    text-align: center;
    color: #FFF;
    border-radius: 20px;
    
}
.marqDesign{
    display:flex;
    
    overflow: hidden;
}

.marqImg{
    width: 280px;
    height: 200px;
    border-radius: 20px;
    margin: auto;
    padding: 15px;
}

.marqWidth{
    height: 400px;
    padding-top: 0px;
    overflow: hidden;
}

.cardItem:hover{
        background-color: #F5F5F5;
        margin-top: -10px;
        cursor: pointer;
        transition-duration: 1000ms;
        transition-delay: 1000ms;
        box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0.2);
        transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
      
}

  
 

  
@media only screen and (max-Width:800px) {
    .imgWidht{
    max-width: 800px;
    height: 250px;
    
}
.layout{  
    margin-top: 30px;
}
.cardStyle{
    width: 200px;
}

[data-aos-delay] {
    transition-delay: 0s !important;
}

}