.imgWidth{
    width: 400px;
    height: 200px;
}

.cardDesign{
    width: 400px;
    
}

@media only screen and (max-Width:800px){
    .cardDesign{
        margin-top: 30px;
        
    }
    
}